
<form [formGroup]="loginForm">
    
    <div class="card flex justify-content-center">
        <p-card header="Login" [style]="{width:'360px'}" >
            <div class="field">
                <input type="text" 
                pInputText 
                formControlName="usuario" 
                class="w-full" 
                name="usuario" 
                placeholder="Nombre de Usuario">

            </div>

            <div class="field">
                <input 
                type="password" 
                pInputPassword
                formControlName="password"
                class="w-full"
                name="password"
                placeholder="Contraseña"/>                                  
                               

            </div>
            <p-button type="submit" label="Iniciar sesion" styleClass="w-full"></p-button>
            <div class="mt-2">No estas registrado? <a routerLink="/register">Registrarme</a></div>
        </p-card>
    </div>
    
</form>
