USE [bookstore]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 07/12/2024 22:16:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](255) NOT NULL,
	[autor] [nvarchar](255) NOT NULL,
	[editorial] [nvarchar](255) NULL,
	[anoPublicacion] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[categoria] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([id], [titulo], [autor], [editorial], [anoPublicacion], [precio], [stock], [categoria]) VALUES (36, N'La vorágine', N'Antonio', N'Planeta Colombia', 1978, CAST(5000.00 AS Decimal(10, 2)), 10000, N'Crónica')
INSERT [dbo].[Libros] ([id], [titulo], [autor], [editorial], [anoPublicacion], [precio], [stock], [categoria]) VALUES (37, N'Cien años de soledad', N'Gabriel García Márquez', N'Sudamericana', 1967, CAST(30000.00 AS Decimal(10, 2)), 5000, N'Novela')
INSERT [dbo].[Libros] ([id], [titulo], [autor], [editorial], [anoPublicacion], [precio], [stock], [categoria]) VALUES (38, N'Don Quijote de la Mancha', N'Miguel de Cervantes', N'Francisco de Robles', 1605, CAST(25000.00 AS Decimal(10, 2)), 2000, N'Novela')
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
