USE [registroDB]
GO
/****** Object:  Table [dbo].[registro]    Script Date: 15/11/2024 11:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[apellido] [varchar](30) NULL,
	[email] [varchar](60) NULL,
	[telefono] [varchar](12) NULL,
	[nameGerente] [varchar](30) NULL,
	[emailGerente] [varchar](60) NULL,
	[fech_inicio] [date] NULL,
	[fech_fin] [date] NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[registro] ON 

INSERT [dbo].[registro] ([id_registro], [name], [apellido], [email], [telefono], [nameGerente], [emailGerente], [fech_inicio], [fech_fin], [descripcion]) VALUES (3, N'Juan', N'Pérez', N'juan.perez@email.com', N'1234567890', N'Carlos García', N'carlos.garcia@email.com', CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), N'Descripción del primer registro')
INSERT [dbo].[registro] ([id_registro], [name], [apellido], [email], [telefono], [nameGerente], [emailGerente], [fech_inicio], [fech_fin], [descripcion]) VALUES (4, N'Ana', N'López', N'ana.lopez@email.com', N'0987654321', N'Luisa Martínez', N'luisa.martinez@email.com', CAST(N'2024-02-01' AS Date), CAST(N'2024-11-30' AS Date), N'Descripción del segundo registro')
INSERT [dbo].[registro] ([id_registro], [name], [apellido], [email], [telefono], [nameGerente], [emailGerente], [fech_inicio], [fech_fin], [descripcion]) VALUES (5, N'Pedro', N'Gómez', N'pedro.gomez@email.com', N'1122334455', N'Miguel Sánchez', N'miguel.sanchez@email.com', CAST(N'2024-03-01' AS Date), CAST(N'2024-10-31' AS Date), N'Descripción del tercer registro')
SET IDENTITY_INSERT [dbo].[registro] OFF
GO
