<p-table [value]="users" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            
            <td>
                <!-- <button pbutton type="button" label="Editar" class="p-button-sm p-button-warning" (click)="onEdit(user)"></button> --> -->
                <button pbutton type="button" label="Eliminar" class="p-button-sm p-button-warning" ></button>
            </td>
        </tr>
    </ng-template>
</p-table>