input {
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco semitransparente */
    backdrop-filter: blur(5px); /* Desenfoque */
    -webkit-backdrop-filter: blur(5px); /* Compatibilidad con WebKit */
    border: none; /* Sin bordes para un estilo limpio */
    /* padding: 10px; Espaciado interno (opcional) */
}
div{
    background: transparent;
    color:rgb(205, 227, 252);
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;  
}


button{
    width:150px;
    top:5px;   
}


.error-message{
    color:rgb(255, 236, 70);
}
