<div class="p-fluid">
    <form [formGroup]="otherForm" (ngSubmit)="onSubmit()">

        <div class="p-field">
            <label for="fech_inicio">Fecha de Inicio: </label>
            <p-calendar id="fech_inicio" formControlName="fech_inicio" showIcon="True" placeholder="DD/MM/YYYY"></p-calendar>
            <div *ngIf="otherForm.controls['fech_inicio'].invalid && otherForm.controls['fech_inicio'].touched" class="error">
              La fecha de inicio es requerida
            </div>
        </div>
  
      <div class="p-field">
        <label for="fech_fin">Fecha de nacimiento</label>
        <p-calendar id="fech_fin" formControlName="fech_fin" showIcon="True" placeholder="DD/MM/YYYY"></p-calendar>
        <div *ngIf="otherForm.controls['fech_fin'].invalid && otherForm.controls['fech_fin'].touched" class="error">
          La fecha final es requerida
        </div>
      </div>      

      <div class="p-field">
        <label for="descripcion"></label>
        <textarea id="descripcion" formControlName="descripcion" rows="5" cols="60" ></textarea>
        <div *ngIf="otherForm.controls['descripcion'].invalid && otherForm.controls['descripcion'].touched" class="error">
        
        </div>
      </div> 
      
      <button pButton type="submit" label="Enviar"  [disabled]="otherForm.invalid" ></button>


    </form>
  </div>
  
  