<div class="p-fluid">
    <h2>Formulario solicitud de vacaciones</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()"> -->
      
      
      <div class="cabeza">
        <div class="p-field">
          <label for="name">Nombre</label>
          <input id="name" type="text" pInputText formControlName="name" placeholder="Primer nombre" />
          <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched" class="error">
            El nombre es requerido
          </div>
        </div>
  
        <div class="p-field">
          <label for="name"> </label>
          <input id="apellido" type="text" pInputText formControlName="apellido" placeholder="Apellido"/>
          <div *ngIf="userForm.controls['apellido'].invalid && userForm.controls['apellido'].touched" class="error">
            El apellido es requerido
          </div>
        </div>
      </div>

      

      <div class="p-field" style="position: relative;">
        <label for="email">Correo electrónico</label>
        <input id="email" type="email" pInputText formControlName="email" style="padding-left: 30px;" />
        <i class="pi pi-envelope" style="position: absolute; left:10px; transform:translateY(40%); top: 25px; color: #888;"></i>
        <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="error">
          Correo no válido
        </div>      
      </div>

      <div class="p-field" style="position: relative;">
        <label for="telefono">Telefono</label>
        <input id="telefono" type="telefono" pInputText formControlName="telefono" style="padding-left: 30px;" placeholder="Ej: 312 444 2222"/>
        <i class="pi pi-phone" style="position: absolute; left:10px; transform:translateY(50%); top: 25px; color: #888;"></i>
        <div *ngIf="userForm.controls['telefono'].invalid && userForm.controls['telefono'].touched" class="error">
          Telefono no válido
        </div>
      </div>

      
  
    </form>
  </div>