<form [formGroup]="checkboxForm" (ngSubmit)="onSubmit()">
    <h3>Selecciona tus opciones:</h3>
    
    <div *ngFor="let opcion of opciones">
      <p-checkbox 
        name="seleccion" 
        [value]="opcion.value" 
        [formControlName]="'seleccion'" 
        inputId="{{opcion.value}}">
      </p-checkbox>
      <label [for]="opcion.value">{{opcion.label}}</label>
    </div>

    <div *ngFor="let opcion2 of opcionesrb">
        <p-radioButton 
          name="seleccion" 
          [value]="opcion2.value" 
          [formControlName]="'seleccion'" 
          inputId="{{opcion2.value}}">
        </p-radioButton>
        <label [for]="opcion2.value">{{opcion2.label}}</label>
      </div>
  
    <button type="submit" pButton label="Enviar"></button>
  </form>
  
